In [1]:
import numpy as np
import pandas as pd
from models import Hankel,Rank,Cluster,Meepc
import warnings
warnings.simplefilter('ignore')
import math
from sklearn.pipeline import Pipeline
from sklearn import set_config
from matplotlib import style
from matplotlib.patches import Ellipse
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE

In [2]:
set_config(display='diagram')

In [3]:
hankel = Hankel.Hankel()
rank = Rank.Rank()
cluster = Cluster.Cluster()
meepc = Meepc.MEEPC()

In [4]:
df = pd.read_csv('~/data/training_data.csv')
sensors = [3,9,25,43]
df = df.iloc[:, sensors]

In [5]:
df

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  2_LS_101_AH
0            504.140              1.0      100.0000          0.0
1            504.140              1.0      100.0000          0.0
2            504.140              1.0      100.0000          0.0
3            504.140              1.0      100.0000          0.0
4            504.145              1.0      100.0000          0.0
...              ...              ...           ...          ...
971995       420.420              1.0       14.7983          0.0
971996       420.420              1.0       14.7983          0.0
971997       420.420              1.0       14.7983          0.0
971998       420.420              1.0       14.7983          0.0
971999       420.403              1.0       15.6107          0.0

[972000 rows x 4 columns]

In [6]:
def calc_width_height(v):
    width = 2/np.sqrt(v) 
    return width

    
def draw_ellipse(i,j,centers,widths,X):
    
    plt.xlim(centers[i]-widths[i]/2,centers[i]+widths[i]/2)
    plt.ylim(centers[j]-widths[j]/2,centers[j]+widths[j]/2)

    ellipse = Ellipse(xy=(centers[i], centers[j]), width=widths[i], height=widths[j])
    ellipse.fill = False
    ellipse.set_ec('red')
    ax.add_patch(ellipse)
    plt.scatter(x = X[::,i], y = X[::,j])

In [22]:
df

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  2_LS_101_AH
0            504.140              1.0      100.0000          0.0
1            504.140              1.0      100.0000          0.0
2            504.140              1.0      100.0000          0.0
3            504.140              1.0      100.0000          0.0
4            504.145              1.0      100.0000          0.0
...              ...              ...           ...          ...
971995       420.420              1.0       14.7983          0.0
971996       420.420              1.0       14.7983          0.0
971997       420.420              1.0       14.7983          0.0
971998       420.420              1.0       14.7983          0.0
971999       420.403              1.0       15.6107          0.0

[972000 rows x 4 columns]

In [31]:
X = df.iloc[:,2].values
X = hankel.fit(X,30,0.5)
X=X.T
kmeans,optimal_k = cluster.fit(X)
print(optimal_k)
radiis = []
weights=[]
centers=[]
clusters_R=[]
clusters_V=[]
# tsne=TSNE(n_components=2,perplexity=30)


for i in range(optimal_k):
    cluster_ = X[np.where(kmeans.labels_ == i)[0]]
    r = rank.fit(cluster_)
    clusters_R.append(r)
    print("r: "+str(r))
    U,Sigma,VT = np.linalg.svd(cluster_)
    V = VT.T
    clusters_V.append(V)
    cluster_ = np.matmul(cluster_,V[:,:r])
    # cluster_=tsne.fit_transform(cluster_)
    weight,center = meepc.fit(cluster_)
    weights.append(weight)
    centers.append(center)
    widths=calc_width_height(weight)
    var1=np.square(cluster_-center)
    var2=np.matmul(weight,var1.T)
    max_radius=math.sqrt(np.amax(var2))
    radiis.append(max_radius)


#     #plotting
# #     ax = plt.gca()
# #     ellipse = Ellipse(xy=(center[0],center[1]), width=widths[0], height=widths[1])
# #     ellipse.fill = False 
# #     ellipse.set_ec('red')
# #     ax.add_patch(ellipse)
# #     sns.scatterplot(x = cluster_[:,0], y = cluster_[:,1])
# # plt.show()
radiis

4
r: 109
r: 104
r: 108
r: 394

[1.0061855368455646,
 0.9999991242850176,
 1.0019411049191913,
 1.0002006671389196]

In [10]:
if math.isnan(max_radius):
        print('Rank: ',r)
        print('Cluster Shape: ',cluster.shape)
        print('CLuster: ',cluster)
        print('Weight Shape: ', weight.shape)
        print('Weight: ', weight)
        print('Center Shape: ', center.shape)
        print('Center: ', center)
        print('Var1: ', var1)
        print('Var2: ', var2)

# testing

In [28]:
df_test=pd.read_csv('~/data/testdata.csv')
df_test

,1_AIT_001_PV,1_AIT_002_PV,1_AIT_003_PV,1_AIT_004_PV,1_AIT_005_PV,1_FIT_001_PV,1_LT_001_PV,1_MV_001_STATUS,1_MV_002_STATUS,1_MV_003_STATUS,...,3_AIT_001_PV,3_AIT_002_PV,3_AIT_003_PV,3_AIT_004_PV,3_AIT_005_PV,3_FIT_001_PV,3_LT_001_PV,LEAK_DIFF_PRESSURE,TOTAL_CONS_REQUIRED_FLOW,"Attack LABLE (1:No Attack, -1:Attack)"
0,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
1,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
2,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
3,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
4,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248395,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248396,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248397,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248398,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248399,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0

In [29]:
y_actual=df_test.iloc[:,-1]
sensors = [3,9,25,43]
df_test = df_test.iloc[:, sensors]
df_test

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  2_LS_101_AH
0            463.716              1.0       20.2507          0.0
1            463.716              1.0       20.2507          0.0
2            463.716              1.0       20.2507          0.0
3            463.716              1.0       20.2507          0.0
4            463.716              1.0       20.2507          0.0
...              ...              ...           ...          ...
248395       430.680              1.0       19.2170          0.0
248396       430.680              1.0       19.2170          0.0
248397       430.680              1.0       19.2170          0.0
248398       430.680              1.0       19.2170          0.0
248399       430.680              1.0       19.2170          0.0

[248400 rows x 4 columns]

In [30]:
y_actual.value_counts()

 1.0    246888
-1.0      1512
Name: Attack LABLE (1:No Attack, -1:Attack), dtype: int64

In [34]:
X_test=df_test.iloc[:,2].values
Xtest=hankel.fit(X_test,30,0.5)  #size -> 1800x274
Xtest=Xtest.T  #size -> 274x1800
for i in range(optimal_k):
    Xtest_cluster=np.matmul(Xtest,clusters_V[i][:,:clusters_R[i]]) # size -> 274 x R
    var1=np.square(Xtest_cluster-centers[i])
    var2=np.matmul(weights[i],var1.T)
    widths=calc_width_height(weights[i])
    print("max radii",math.sqrt(np.amax(var2)))

max radii 19.532212729024153
max radii 12.55192395401656
max radii 15.650782177318247
max radii 7.160820069277709

In [35]:
print(widths)

[1.64776709e+04 1.19516471e+04 7.09636099e+03 8.43014983e+03
 4.23497394e+03 5.53233541e+03 3.69393626e+03 3.31270697e+03
 3.39265602e+03 2.23565368e+03 2.89733689e+03 1.96020018e+03
 2.21356769e+03 1.41876317e+03 1.66993271e+03 1.46482945e+03
 1.23889344e+03 1.19508220e+03 1.36320736e+03 1.06922520e+03
 1.05854891e+03 1.03656847e+03 1.21306299e+03 9.24552911e+02
 1.01374897e+03 8.26455627e+02 1.50555952e+03 7.28939721e+02
 5.49574173e+02 6.00962985e+02 6.32531354e+02 6.91668632e+02
 5.93258182e+02 5.42809724e+02 4.94031127e+02 4.00898026e+02
 3.80528706e+02 7.37863198e+02 4.57643982e+02 4.23548541e+02
 3.76220106e+02 4.30323061e+02 9.16909679e+02 5.42782739e+02
 2.70374643e+02 2.70196413e+02 3.08048346e+02 2.62284762e+02
 2.78997367e+02 2.61471400e+02 4.07686202e+02 2.20761677e+02
 3.23912672e+02 2.97418638e+02 3.98640844e+02 3.05316182e+02
 2.07008928e+02 2.84116585e+02 2.26631034e+02 1.93974466e+02
 1.95713040e+02 2.14700280e+02 1.96960922e+02 1.54692576e+02
 1.42893778e+02 1.94760089e+02 2.57875956e+02 2.75323671e+02
 2.49427131e+02 2.80392525e+02 1.77615042e+02 2.05046657e+02
 1.96870974e+02 1.50637383e+02 2.02826443e+02 2.11930844e+02
 1.35773245e+02 1.47850406e+02 2.10858278e+02 1.49803426e+02
 1.67614868e+02 1.53094318e+02 1.39649402e+02 1.04503542e+02
 1.41658485e+02 1.55871326e+02 1.37316675e+02 1.41842103e+02
 1.14592653e+02 1.55310044e+02 1.41455960e+02 1.47330737e+02
 1.18432708e+02 1.17848135e+02 1.10994571e+02 1.28122563e+02
 1.34600143e+02 1.72348489e+02 9.07523495e+01 1.08651666e+02
 1.37260250e+02 8.32079657e+01 9.87324436e+01 7.81857699e+01
 1.05778986e+02 1.17253418e+02 1.11461552e+02 9.43935541e+01
 1.39150617e+02 1.54521028e+02 8.01181109e+01 1.07153621e+02
 8.10272870e+01 8.36161607e+01 8.51563020e+01 7.15552524e+01
 6.97808097e+01 7.80572956e+01 7.59164996e+01 9.06929988e+01
 8.72163827e+01 9.08260862e+01 7.95760662e+01 8.26005066e+01
 7.51826203e+01 8.42648624e+01 9.70461321e+01 7.86677981e+01
 8.47401644e+01 7.75687429e+01 8.52213605e+01 7.82222454e+01
 9.05885197e+01 7.66830397e+01 7.49270195e+01 7.45961032e+01
 7.22190840e+01 8.36740637e+01 6.15981287e+01 8.15041518e+01
 6.42353993e+01 6.85447340e+01 6.46522439e+01 6.80722326e+01
 6.72899010e+01 5.99352929e+01 6.41737743e+01 5.10595011e+01
 6.68339067e+01 8.93283830e+01 6.01918629e+01 6.05697704e+01
 6.79371869e+01 7.96159117e+01 7.85461466e+01 6.26197291e+01
 6.60977041e+01 4.71512823e+01 7.09145294e+01 6.24975408e+01
 5.59884285e+01 5.37660074e+01 4.44597083e+01 6.31492523e+01
 5.97669272e+01 4.93623573e+01 5.03713976e+01 4.96233580e+01
 5.38617215e+01 6.22484987e+01 5.05500066e+01 5.91523654e+01
 5.27446887e+01 5.19508935e+01 4.36100260e+01 6.75360615e+01
 4.59246709e+01 4.36593968e+01 4.53402047e+01 6.52001811e+01
 4.96336770e+01 4.56559867e+01 6.35967438e+01 3.48638781e+01
 4.87640578e+01 4.05972086e+01 3.73076984e+01 4.13333058e+01
 6.00120230e+01 5.08510337e+01 4.62565317e+01 4.67120059e+01
 4.85128765e+01 4.47242991e+01 5.69355294e+01 3.66582140e+01
 5.12688548e+01 5.62090480e+01 3.77950357e+01 4.79303953e+01
 4.71870289e+01 4.13935510e+01 4.65601826e+01 4.54320210e+01
 4.15263015e+01 4.46058190e+01 4.83880294e+01 4.78852331e+01
 4.72031225e+01 3.83268516e+01 5.56080104e+01 4.85430871e+01
 3.51313944e+01 5.20564508e+01 3.83322998e+01 3.18524675e+01
 3.82113630e+01 7.87255101e+01 3.87444557e+01 3.80238318e+01
 4.04713658e+01 3.44338124e+01 4.68227818e+01 4.45461837e+01
 3.53438939e+01 3.61131623e+01 4.93207026e+01 4.06033666e+01
 3.39381043e+01 3.58291928e+01 3.28501201e+01 3.89288964e+01
 3.76796373e+01 3.73398752e+01 3.39151026e+01 3.30743641e+01
 3.65395801e+01 3.15247246e+01 3.39837404e+01 3.20407155e+01
 3.09944256e+01 4.28170041e+01 4.11923954e+01 3.13156749e+01
 2.59319518e+01 2.63372963e+01 3.83272876e+01 2.66347097e+01
 3.19849536e+01 2.95928023e+01 2.60161946e+01 4.04995974e+01
 2.99009893e+01 2.65302436e+01 3.02938979e+01 3.56453440e+01
 3.23431981e+01 3.60123009e+01 3.13940888e+01 3.34108222e+01
 2.83692788e+01 2.29977354e+01 3.09461976e+01 2.19540809e+01
 2.44423439e+01 2.88781638e+01 3.14540794e+01 4.73731994e+01
 2.93730706e+01 3.03869303e+01 3.27454769e+01 2.39251433e+01
 4.54486163e+01 2.61780809e+01 2.42266360e+01 2.99670690e+01
 2.48228007e+01 2.69807750e+01 3.34184527e+01 3.19937012e+01
 3.43101255e+01 2.33055073e+01 2.58082352e+01 3.14285908e+01
 2.44805310e+01 2.67105996e+01 2.12545081e+01 3.47383467e+01
 2.10225564e+01 2.28874475e+01 2.04641792e+01 2.96155792e+01
 2.16174526e+01 4.15552472e+01 3.10912996e+01 2.31887539e+01
 3.24094162e+01 3.24405615e+01 2.62295794e+01 2.80709344e+01
 2.16774169e+01 2.98735036e+01 1.81872067e+01 2.70392344e+01
 1.94432229e+01 1.72390818e+01 2.43841695e+01 2.13218095e+01
 2.89051497e+01 1.93332595e+01 1.95928612e+01 1.78918011e+01
 2.09190473e+01 2.71386952e+01 2.30453083e+01 2.37832716e+01
 1.76668138e+01 2.33675647e+01 2.06747208e+01 2.14715658e+01
 1.99926252e+01 1.95703149e+01 2.08206836e+01 2.61371620e+01
 1.86597866e+01 1.97338813e+01 1.69975809e+01 1.54386396e+01
 1.36974188e+01 2.25034295e+01 1.97344506e+01 1.88986873e+01
 1.20577762e+01 1.65863498e+01 1.57118433e+01 1.40436996e+01
 1.73303428e+01 2.16289669e+01 1.66452479e+01 1.61614256e+01
 1.64753861e+01 1.57507734e+01 2.79757485e+01 1.31569140e+01
 1.69204379e+01 1.36464318e+01 1.46641610e+01 3.13206094e+01
 1.02080142e+01 9.71786519e+00 1.29030762e+01 3.51332002e+01
 2.30852564e+01 1.16710425e+01 1.65370144e+01 9.37412218e+00
 1.84556508e+01 1.86394279e+01 1.09111684e+01 1.47782746e+01
 2.13348914e+01 1.67916607e+01 2.49809102e+01 2.12427642e+01
 9.44790141e+00 1.02452258e+01 1.34249641e+01 1.30872540e+01
 1.17033596e+01 1.10965526e+01 9.69315818e+00 1.00917149e+01
 1.25144764e+01 3.65980097e+01 1.93490380e+01 7.67256067e+00
 1.45242241e+01 8.23878630e+00 1.05951790e+01 2.12575159e+01
 8.66194705e+00 1.37688408e+01 1.30298129e+01 1.95896126e+01
 1.75143226e+01 8.52781341e+00 6.02521445e+00 7.02772503e+00
 5.81631070e+00 8.25760099e+00 6.53577342e+00 5.14307140e+00
 1.81401086e+01 5.33731919e+00]