In [39]:
import numpy as np
import pandas as pd
import models
import warnings
warnings.simplefilter('ignore')
import math
from sklearn.pipeline import Pipeline
from sklearn import set_config
from matplotlib import style
from matplotlib.patches import Ellipse
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler

In [2]:
hankel = models.Hankel()
rank = models.Rank()
cluster = models.Cluster()
meepc = models.MEEPC()

In [3]:
df = pd.read_csv('~/data/training_data.csv')

In [4]:
df

,1_AIT_001_PV,1_AIT_002_PV,1_AIT_003_PV,1_AIT_004_PV,1_AIT_005_PV,1_FIT_001_PV,1_LT_001_PV,1_MV_001_STATUS,1_MV_002_STATUS,1_MV_003_STATUS,...,3_AIT_001_PV,3_AIT_002_PV,3_AIT_003_PV,3_AIT_004_PV,3_AIT_005_PV,3_FIT_001_PV,3_LT_001_PV,LEAK_DIFF_PRESSURE,TOTAL_CONS_REQUIRED_FLOW,"Attack LABLE (1:No Attack, -1:Attack)"
0,167.892,0.625471,11.6175,504.140,0.293168,0.001107,62.1436,1.0,1.0,1.0,...,0.0,8279.1,14.35530,238.111,0.620147,0.667695,67.0974,60.0435,0.11,1.0
1,167.892,0.625471,11.6175,504.140,0.293168,0.001107,62.1436,1.0,1.0,1.0,...,0.0,8279.1,14.35530,238.111,0.620147,0.667695,67.0974,60.0435,0.11,1.0
2,167.892,0.625471,11.6175,504.140,0.293168,0.001107,62.1436,1.0,1.0,1.0,...,0.0,8279.1,14.35530,238.111,0.620147,0.667695,67.0974,60.0435,0.11,1.0
3,167.892,0.625471,11.6175,504.140,0.293168,0.001107,62.1436,1.0,1.0,1.0,...,0.0,8279.1,14.35530,238.111,0.620147,0.667695,67.0974,60.0435,0.11,1.0
4,167.895,0.619473,11.6179,504.145,0.293009,0.001080,62.1472,1.0,1.0,1.0,...,0.0,8279.1,14.00090,264.802,0.620240,0.672394,67.1004,60.1557,0.11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971995,179.618,0.625473,11.9156,420.420,0.228225,1.903020,43.3472,2.0,1.0,1.0,...,0.0,8279.1,5.21471,783.722,0.536200,0.627771,64.5326,86.5871,1.47,-1.0
971996,179.618,0.625473,11.9156,420.420,0.228225,1.903020,43.3472,2.0,1.0,1.0,...,0.0,8279.1,5.21471,783.722,0.536200,0.627771,64.5326,86.5871,1.47,-1.0
971997,179.618,0.625473,11.9156,420.420,0.228225,1.903020,43.3472,2.0,1.0,1.0,...,0.0,8279.1,5.21471,783.722,0.536200,0.627771,64.5326,86.5871,1.47,-1.0
971998,179.618,0.625473,11.9156,420.420,0.228225,1.903020,43.3472,2.0,1.0,1.0,...,0.0,8279.1,5.21471,783.722,0.536200,0.627771,64.5326,86.5871,1.47,-1.0
971999,179.617,0.625473,11.9146,420.403,0.228308,1.904000,43.2111,2.0,1.0,1.0,...,0.0,8279.1,11.84140,356.536,0.626364,0.741920,64.5634,86.4392,1.19,-1.0

In [ ]:
#normalizing training-data
scaler = StandardScaler()

# fit the scaler to the dataframe
scaler.fit(df)

In [5]:
df_normal=df[df['Attack LABLE (1:No Attack, -1:Attack)']==1]
df_attack=df[df['Attack LABLE (1:No Attack, -1:Attack)']==-1]

In [40]:
df_attack

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  2_LS_101_AH
941103       467.477              1.0       21.3461          0.0
941104       467.477              1.0       21.3461          0.0
941105       467.477              1.0       21.3461          0.0
941106       467.522              1.0       21.2574          0.0
941107       467.522              1.0       21.2574          0.0
...              ...              ...           ...          ...
971995       420.420              1.0       14.7983          0.0
971996       420.420              1.0       14.7983          0.0
971997       420.420              1.0       14.7983          0.0
971998       420.420              1.0       14.7983          0.0
971999       420.403              1.0       15.6107          0.0

[8465 rows x 4 columns]

In [6]:
sensors = [3,9,25,43]
df_normal = df_normal.iloc[:, sensors]
df_attack=df_attack.iloc[:,sensors]

In [7]:
df_normal

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  2_LS_101_AH
0            504.140              1.0     100.00000          0.0
1            504.140              1.0     100.00000          0.0
2            504.140              1.0     100.00000          0.0
3            504.140              1.0     100.00000          0.0
4            504.145              1.0     100.00000          0.0
...              ...              ...           ...          ...
971938       420.706              1.0       9.79881          0.0
971939       420.706              1.0       9.79881          0.0
971940       420.706              1.0       9.79881          0.0
971941       420.706              1.0       9.79881          0.0
971942       420.700              1.0       9.95684          0.0

[963535 rows x 4 columns]

In [8]:
def calc_width_height(v):
    width = 2/np.sqrt(v) 
    return width

    
def draw_ellipse(i,j,centers,widths,X):
    
    plt.xlim(centers[i]-widths[i]/2,centers[i]+widths[i]/2)
    plt.ylim(centers[j]-widths[j]/2,centers[j]+widths[j]/2)

    ellipse = Ellipse(xy=(centers[i], centers[j]), width=widths[i], height=widths[j])
    ellipse.fill = False
    ellipse.set_ec('red')
    ax.add_patch(ellipse)
    plt.scatter(x = X[::,i], y = X[::,j])

In [9]:
X = df_normal.iloc[:,2].values
X = hankel.fit(X,30,0.5)
X=X.T
kmeans,optimal_k = cluster.fit(X)
print(optimal_k)
radiis = []
weights=[]
centers=[]
clusters_R=[]
clusters_V=[]
# tsne=TSNE(n_components=2,perplexity=30)


for i in range(optimal_k):
    cluster_ = X[np.where(kmeans.labels_ == i)[0]]
    r = rank.fit(cluster_)
    clusters_R.append(r)
    print("r: "+str(r))
    U,Sigma,VT = np.linalg.svd(cluster_)
    V = VT.T
    clusters_V.append(V)
    cluster_ = np.matmul(cluster_,V[:,:r])
    # cluster_=tsne.fit_transform(cluster_)
    weight,center = meepc.fit(cluster_)
    weights.append(weight)
    centers.append(center)
    widths=calc_width_height(weight)
    var1=np.square(cluster_-center)
    var2=np.matmul(weight,var1.T)
    max_radius=math.sqrt(np.amax(var2))
    radiis.append(max_radius)
#     #plotting
# #     ax = plt.gca()
# #     ellipse = Ellipse(xy=(center[0],center[1]), width=widths[0], height=widths[1])
# #     ellipse.fill = False 
# #     ellipse.set_ec('red')
# #     ax.add_patch(ellipse)
# #     sns.scatterplot(x = cluster_[:,0], y = cluster_[:,1])
# # plt.show()
radiis

4
r: 388
r: 107
r: 104
r: 110

[1.0006529258884755, 1.0000042012190218, 1.0013740759187382, 1.001961862968835]

In [10]:
if math.isnan(max_radius):
        print('Rank: ',r)
        print('Cluster Shape: ',cluster.shape)
        print('CLuster: ',cluster)
        print('Weight Shape: ', weight.shape)
        print('Weight: ', weight)
        print('Center Shape: ', center.shape)
        print('Center: ', center)
        print('Var1: ', var1)
        print('Var2: ', var2)

# testing

In [28]:
df_test=pd.read_csv('~/data/testdata.csv')
df_test

,1_AIT_001_PV,1_AIT_002_PV,1_AIT_003_PV,1_AIT_004_PV,1_AIT_005_PV,1_FIT_001_PV,1_LT_001_PV,1_MV_001_STATUS,1_MV_002_STATUS,1_MV_003_STATUS,...,3_AIT_001_PV,3_AIT_002_PV,3_AIT_003_PV,3_AIT_004_PV,3_AIT_005_PV,3_FIT_001_PV,3_LT_001_PV,LEAK_DIFF_PRESSURE,TOTAL_CONS_REQUIRED_FLOW,"Attack LABLE (1:No Attack, -1:Attack)"
0,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
1,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
2,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
3,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
4,161.129,0.721464,11.7842,463.716,0.267211,1.890010,48.9329,2.0,1.0,1.0,...,0.0,8279.1,5.95083,743.356,0.594601,0.001333,64.5137,74.2107,1.92,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248395,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248396,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248397,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248398,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0
248399,176.467,0.613474,11.9281,430.680,0.228327,0.001214,66.1851,1.0,1.0,1.0,...,0.0,8279.1,13.83640,370.386,0.729505,0.595032,64.3879,66.1173,1.41,1.0

In [32]:
y_actual=df_test.iloc[:,-1]
df_test_normal=df_test[df_test['Attack LABLE (1:No Attack, -1:Attack)']==1]
sensors = [3,9,25,4]
df_test_normal=df_test_normal.iloc[:,sensors]
df_test_normal

        1_AIT_004_PV  1_MV_003_STATUS  2_FIC_401_CO  1_AIT_005_PV
0            463.716              1.0       20.2507      0.267211
1            463.716              1.0       20.2507      0.267211
2            463.716              1.0       20.2507      0.267211
3            463.716              1.0       20.2507      0.267211
4            463.716              1.0       20.2507      0.267211
...              ...              ...           ...           ...
248395       430.680              1.0       19.2170      0.228327
248396       430.680              1.0       19.2170      0.228327
248397       430.680              1.0       19.2170      0.228327
248398       430.680              1.0       19.2170      0.228327
248399       430.680              1.0       19.2170      0.228327

[246888 rows x 4 columns]

In [38]:
X_test=df_test_normal.iloc[:,2].values
Xtest=hankel.fit(X_test,30,0.5)  #size -> 1800x274
Xtest=Xtest.T  #size -> 274x1800
print(Xtest.shape)
distances=[]
for i in range(optimal_k):
    Xtest_cluster=np.matmul(Xtest,clusters_V[i][:,:clusters_R[i]]) # size -> 274 x R
    var1=np.square(Xtest_cluster-centers[i])
    var2=np.matmul(weights[i],var1.T)
    # widths=calc_width_height(weights[i])
    # print("max radii",math.sqrt(np.amax(var2)))
    distance=np.sqrt(var2)
    distances.append(distance)
distances

(273, 1800)

[array([1.58624993, 1.38853837, 0.77546395, 1.36689249, 1.3470334 ,
        2.08336801, 2.61879933, 2.40707308, 1.24686374, 0.76105177,
        1.09482245, 1.59019175, 0.74824515, 0.74824515, 0.7491765 ,
        1.15746814, 1.57471881, 0.72770025, 0.53192382, 1.28665636,
        0.74824515, 0.74824515, 0.74824515, 1.59209655, 1.04243541,
        1.53115354, 1.58205584, 1.58592338, 1.27065647, 1.82251485,
        1.59802378, 1.27717615, 1.23829456, 0.98694157, 0.66538984,
        1.36533307, 0.74824515, 0.74824515, 0.74824515, 1.74190961,
        2.66007231, 2.19816024, 2.77740739, 2.91480196, 1.28630721,
        1.48243387, 0.96781581, 1.3039752 , 1.3397908 , 1.44464867,
        1.51574042, 1.59825403, 0.74824515, 0.74824515, 0.74824515,
        0.74824515, 0.74824515, 0.74824515, 1.11574682, 2.47655124,
        2.05679875, 0.74824515, 0.74824515, 4.49096269, 5.37775985,
        4.20327274, 2.28303634, 1.00348908, 1.22392694, 1.05560169,
        1.06206706, 1.73463324, 0.74824515, 0.74824515, 0.74824515,
        0.85269908, 2.18831073, 2.20026516, 1.76997433, 1.83635775,
        0.74824515, 0.74824515, 0.75026347, 1.54570858, 0.85515405,
        1.3911031 , 1.29681509, 3.6786933 , 4.93865457, 4.52882737,
        3.91807012, 1.36452664, 5.00825094, 6.65690565, 5.7830148 ,
        4.61739794, 1.7896606 , 1.15582656, 0.57680309, 0.88449812,
        0.88900548, 1.05435412, 1.39698996, 1.77855809, 0.74824515,
        0.74824515, 1.03716919, 1.02242186, 1.10327327, 1.29779171,
        0.86041637, 0.51073941, 1.03656087, 1.0567993 , 0.7072483 ,
        1.31107676, 0.74824515, 0.74824515, 0.74824515, 0.74824515,
        0.74824515, 0.74824515, 0.74824515, 1.36123375, 0.95224236,
        0.50272952, 0.50658612, 0.92863074, 0.90855687, 0.54006832,
        1.44630474, 1.62311137, 0.74824515, 0.74824515, 1.12689346,
        1.21763853, 1.11983238, 1.5256784 , 1.35497505, 1.24398643,
        1.21250481, 1.18766324, 1.78942941, 1.45250419, 0.74824515,
        0.74824515, 0.74824515, 3.45364596, 3.96177352, 0.68050874,
        1.70580137, 1.89729699, 1.16784322, 1.24909564, 1.63187913,
        1.50668908, 0.74824515, 0.94927292, 1.20657345, 1.12933696,
        0.90233306, 0.81895051, 0.94134843, 1.29558156, 1.18441853,
        1.09513454, 1.21110329, 1.22144953, 0.84323889, 1.38082045,
        2.21230712, 1.87241402, 0.83486756, 1.09480787, 1.09632697,
        0.89558913, 0.74824515, 0.74824515, 0.74824515, 1.24575091,
        0.73760372, 0.66471048, 1.07304171, 1.64247984, 0.74824515,
        0.74824515, 0.74824515, 0.74824515, 0.74824515, 3.56027117,
        3.85980884, 3.63511932, 3.01263986, 1.76147652, 0.51116123,
        1.40719757, 0.74824515, 0.74824515, 0.74824515, 2.18457944,
        2.26754083, 0.74824515, 0.74824515, 1.33198988, 1.82401661,
        1.8075211 , 1.09022776, 1.34526233, 1.48357926, 2.45415662,
        2.66396179, 1.48359357, 0.77354446, 3.69103244, 4.41800929,
        2.39317259, 0.5181521 , 0.97134755, 0.94013817, 1.44745337,
        0.74824515, 0.74824515, 0.74824515, 0.74824515, 1.06585356,
        1.35805982, 0.86574764, 1.7439929 , 2.95063695, 1.58293514,
        1.506336  , 1.38365668, 1.1417423 , 0.86505362, 0.92229844,
        1.50474098, 0.74824515, 0.74824515, 0.74800053, 0.7488927 ,
        0.74824515, 0.74824515, 0.74830087, 1.15569854, 1.71687111,
        2.64266774, 2.66899449, 1.37085724, 0.74824515, 0.74824515,
        0.74824515, 1.32553531, 0.98684513, 1.75821938, 0.80164107,
        1.91761092, 1.90260121, 1.33633449, 0.76252271, 0.95796077,
        1.74547381, 1.96691539, 0.84344394, 0.74824515, 0.74824515,
        0.74824515, 0.74824515, 1.39380764, 1.41130937, 1.59644831,
        6.74821891, 6.84921506, 3.19149794]),
 array([ 4.70336733,  3.63650557,  0.66665647,  2.39481549,  2.55433358,
         2.160585  ,  9.11972884,  4.15136935,  1.76277302,  1.43909294,
         3.371102  ,  2.25460049,  0.58783329,  0.58783329,  0.59096267,
         0.99074889,  3.19337264,  1.4023324 ,  1.09204402,  1.9968947 ,
         0.58783329,  0.58783329,  0.58783329,  2.11630534,  1.7842841 ,
         4.14221594,  2.75797289,  2.13878665,  1.24077482,  3.81525469,
         1.6340015 ,  2.47341043,  1.47866477,  1.26643596,  1.46014981,
         2.00268952,  0.58783329,  0.58783329,  0.58783329,  3.76899435,
         3.466242  ,  1.77246571,  3.06172035,  2.51549912,  2.28707072,
         2.29986087,  1.61664235,  2.0477363 ,  2.01708863,  2.71178951,
         5.70346663,  3.54767296,  0.58783329,  0.58783329,  0.58783329,
         0.58783329,  0.58783329,  0.58783329,  1.0726707 ,  6.47808276,
         4.27507134,  0.58783329,  0.58783329,  8.88999604,  9.78776218,
         9.71016484, 10.51008667,  2.82131726,  2.2944338 ,  1.47150755,
         2.43636635,  2.86800494,  0.58783329,  0.58783329,  0.58783329,
         0.72152832,  2.13407351,  3.00282044,  4.82844176,  2.35243003,
         0.58783329,  0.58783329,  0.58840418,  2.97321122,  2.24329749,
         2.66130657,  2.43025967, 14.34531475, 11.76965655,  5.88899695,
         3.92125723,  2.70770582, 15.41979456, 11.48501688, 11.08547443,
         6.49926711,  2.74244474,  2.96050436,  1.34068805,  2.15960269,
         1.75248712,  1.31390001,  1.60188885,  2.12110066,  0.58783329,
         0.58783329,  1.27476459,  1.46738949,  2.12259227,  4.41311954,
         2.90352021,  1.07183715,  1.88609146,  1.57539293,  1.85032895,
         2.14261577,  0.58783329,  0.58783329,  0.58783329,  0.58783329,
         0.58783329,  0.58783329,  0.58783329,  2.0270136 ,  1.25385278,
         1.10413913,  1.12769209,  1.27827905,  1.25828393,  1.13976925,
         2.76044051,  3.61734602,  0.58783329,  0.58783329,  2.57817899,
         2.36713607,  2.70824883,  3.07992754,  1.75878247,  1.87952126,
         2.05172851,  2.61397262,  3.55674254,  1.88775779,  0.58783329,
         0.58783329,  0.58783329,  6.30607366,  9.33958332,  1.62925681,
         2.35429354,  3.95714038,  2.30264894,  3.60544588,  3.00627682,
         2.10064931,  0.58783329,  0.66079609,  2.66718577,  1.26441392,
         1.47682272,  1.16578503,  1.24111563,  1.94951599,  3.59843164,
         3.40003165,  1.74833432,  1.45795262,  1.2856031 ,  3.21872265,
         2.83590843,  2.49668284,  2.85703188,  2.87683291,  1.79394094,
         0.65140792,  0.58783329,  0.58783329,  0.58783329,  2.28202097,
         1.44385922,  2.01783174,  1.34057299,  2.01833839,  0.58783329,
         0.58783329,  0.58783329,  0.58783329,  0.58783329,  9.74541024,
         5.61784202,  8.01393855,  5.22851479,  3.18253215,  1.25870614,
         2.34646889,  0.58783329,  0.58783329,  0.58783329,  2.18858101,
         2.84356949,  0.58783329,  0.58783329,  2.46598388,  2.25220549,
         3.90339036,  2.35269075,  2.05015231,  1.6630736 ,  2.37093505,
         6.80608266,  2.46201737,  0.61077075, 10.01544394,  6.36026354,
         4.22699353,  1.15600287,  1.34444364,  1.57237278,  2.2081743 ,
         0.58783329,  0.58783329,  0.58783329,  0.58783329,  0.93964788,
         3.04153879,  1.2200821 ,  3.54521213,  3.08403778,  3.60142449,
         4.08651464,  2.11978445,  1.23498676,  1.26471268,  2.16596533,
         2.67995426,  0.58783329,  0.58783329,  0.58618182,  0.59040796,
         0.58783329,  0.58783329,  0.58885705,  1.79953691,  2.62108359,
        10.11534837,  3.93155346,  2.21256164,  0.58783329,  0.58783329,
         0.58783329,  2.43265443,  1.89987054,  3.28145317,  0.61633361,
         2.0781331 ,  2.45670163,  3.72265018,  1.61871078,  2.89455668,
         2.83864636,  3.3539002 ,  0.68152944,  0.58783329,  0.58783329,
         0.58783329,  0.58783329,  2.24635644,  2.24238659,  3.25615801,
         8.74246236,  8.37552622,  5.78234112]),
 array([ 3.87248007,  2.46666703,  2.66332483,  0.61937776,  2.27954484,
         3.48448034,  1.5092047 ,  2.76384044,  1.95130446,  0.89687674,
         0.89053896,  2.92309698,  2.67783259,  2.67783259,  2.67351188,
         1.9482125 ,  1.22198184,  0.89743733,  0.88117089,  3.18946762,
         2.67783259,  2.67783259,  2.67783259,  0.85099523,  1.36509028,
         1.5025934 ,  1.77819126,  3.02172291,  1.95269706,  1.6802625 ,
         1.34687031,  1.46690387,  1.65475159,  0.77826223,  1.01628034,
         3.28825855,  2.67783259,  2.67783259,  2.67783259,  1.61942103,
         2.13866971,  2.23934572,  2.38681955,  3.07670591,  1.49405892,
         2.35038034,  2.22060382,  3.35342039,  0.74084369,  2.14672473,
         2.38893704,  3.46375188,  2.67783259,  2.67783259,  2.67783259,
         2.67783259,  2.67783259,  2.67783259,  1.63311514,  1.56144482,
         3.29596653,  2.67783259,  2.67783259,  4.77326055, 11.44276638,
         3.59907141,  3.19924712,  2.37453129,  1.28144999,  1.29709571,
         0.92343635,  3.64497141,  2.67783259,  2.67783259,  2.67783259,
         2.62191975,  1.61050002,  2.38511793,  2.95842975,  3.92886545,
         2.67783259,  2.67783259,  2.68304561,  1.14935863,  1.14327119,
         1.84040257,  1.51418363,  3.64025329,  9.43144758, 10.9219436 ,
         3.45488778,  2.42312293,  2.99199653,  9.26943039,  9.7683407 ,
         4.79573528,  1.68896967,  1.05976497,  0.94373957,  1.89032847,
         2.16535693,  0.91197946,  1.56841082,  3.12763794,  2.67783259,
         2.67783259,  1.04925414,  0.92240488,  1.6408658 ,  1.95165685,
         1.52037619,  0.84879469,  1.38208386,  1.23728839,  1.12450902,
         3.2363951 ,  2.67783259,  2.67783259,  2.67783259,  2.67783259,
         2.67783259,  2.67783259,  2.67783259,  1.25418963,  1.04991969,
         0.72823422,  0.89805543,  1.16090101,  1.04441645,  0.88294519,
         1.71451814,  3.93817322,  2.67783259,  2.67783259,  1.07906733,
         1.36051515,  0.98131543,  2.40590165,  1.68166067,  1.59406124,
         1.2009449 ,  2.64547634,  2.59891887,  2.85563784,  2.67783259,
         2.67783259,  2.67783259,  4.22443839,  2.31128141,  1.09127977,
         2.40280854,  1.79576347,  2.190196  ,  1.73256587,  1.43497527,
         3.35141854,  2.67783259,  2.45421766,  0.86348654,  1.22272905,
         1.29159649,  0.88200028,  1.24967809,  1.66664879,  1.49363941,
         1.42123095,  1.63048526,  1.46620991,  0.82643777,  2.19190442,
         2.20662675,  2.01755846,  1.26071278,  1.60230463,  3.26105579,
         2.67354825,  2.67783259,  2.67783259,  2.67783259,  0.5999653 ,
         0.82694665,  1.13432958,  1.33408438,  3.11851569,  2.67783259,
         2.67783259,  2.67783259,  2.67783259,  2.67783259,  3.51477313,
         8.35850643,  6.49696097,  4.06633207,  2.33075548,  0.83202808,
         3.13425229,  2.67783259,  2.67783259,  2.67783259,  2.17289176,
         2.89845207,  2.67783259,  2.67783259,  1.25916263,  2.49983704,
         1.48782001,  1.59244885,  3.06757457,  1.86668391,  4.27037939,
         1.74288719,  4.01689605,  2.392705  ,  4.02752568,  7.51388462,
         3.73491157,  0.92867512,  1.41467549,  1.08209228,  3.36195972,
         2.67783259,  2.67783259,  2.67783259,  2.67783259,  2.21696498,
         0.73537704,  1.34575203,  3.24226832,  3.22193812,  2.33356383,
         2.78916041,  1.89553954,  0.9227774 ,  0.93551901,  2.1055628 ,
         3.02580582,  2.67783259,  2.67783259,  2.67594661,  2.69000416,
         2.67783259,  2.67783259,  2.67553569,  2.51114167,  3.00345097,
         5.05587385,  3.91301293,  3.13749333,  2.67783259,  2.67783259,
         2.67783259,  0.81601672,  2.19764435,  3.18856417,  2.69995804,
         0.92850247,  1.50144486,  1.22616949,  1.30057014,  2.25235683,
         2.61718865,  3.35258229,  2.85884003,  2.67783259,  2.67783259,
         2.67783259,  2.67783259,  1.04451195,  2.01219688,  3.23587047,
        11.8370402 ,  4.48873434,  4.36573091]),
 array([ 2.67381967,  3.67440513,  2.37439331,  2.98598891,  2.34082442,
         4.98001528,  4.84060352,  2.26851756,  1.81048708,  0.935248  ,
         2.34875671,  1.39004565,  2.38009525,  2.38009525,  2.37385407,
         4.00709437,  3.14904687,  0.99647984,  0.85728727,  0.64474335,
         2.38009525,  2.38009525,  2.38009525,  2.33337635,  2.51246307,
         1.92353869,  2.10709711,  1.19652494,  4.33846023,  3.50731707,
         1.79271248,  1.90399806,  1.09054561,  0.78849884,  0.98123724,
         0.6621959 ,  2.38009525,  2.38009525,  2.38009525,  2.23515573,
         2.73655836,  2.71177386,  3.31190524,  3.98383702,  1.41323716,
         2.47715165,  1.72845709,  0.69483155,  2.89732651,  4.43983835,
         2.60928245,  1.42239246,  2.38009525,  2.38009525,  2.38009525,
         2.38009525,  2.38009525,  2.38009525,  3.46493393,  3.92096038,
         2.21092042,  2.38009525,  2.38009525,  5.39152803,  5.00247566,
         6.49610021,  5.01025735,  1.49146271,  1.64334337,  1.57310906,
         1.36147807,  0.78245129,  2.38009525,  2.38009525,  2.38009525,
         2.56610573,  3.7687135 ,  3.53358545,  2.63296246,  5.09011585,
         2.38009525,  2.38009525,  2.37535436,  2.46261534,  1.42849565,
         1.80577559,  1.5681459 ,  8.74353077,  7.17404296,  5.19858482,
         3.62275443,  1.9031534 ,  6.14613358,  5.83063391, 21.2263011 ,
         8.24534878,  2.39962592,  1.37498707,  0.92353024,  1.3148001 ,
         1.7470959 ,  1.64801508,  1.90931037,  4.31151569,  2.38009525,
         2.38009525,  2.98864329,  2.17310777,  2.27339089,  2.19556024,
         1.50014123,  0.87535341,  2.360288  ,  2.11935054,  1.00803813,
         0.55428914,  2.38009525,  2.38009525,  2.38009525,  2.38009525,
         2.38009525,  2.38009525,  2.38009525,  2.86346278,  1.01941792,
         0.81140551,  0.8060568 ,  1.11923957,  1.0212212 ,  0.93646473,
         2.65245924,  1.47760347,  2.38009525,  2.38009525,  2.61214386,
         2.49897577,  1.6261794 ,  1.37973357,  2.61247704,  1.15808298,
         1.12010599,  3.29031011,  2.86256299,  0.88074081,  2.38009525,
         2.38009525,  2.38009525,  6.73084406,  3.51131309,  1.35918259,
         3.38625124,  2.5002168 ,  1.56660349,  1.94105766,  1.27553554,
         1.12485609,  2.38009525,  3.15154442,  3.30524572,  2.28498725,
         1.17355586,  1.23137692,  1.75238022,  3.94580966,  2.02496831,
         1.14319919,  2.42909584,  1.95830006,  1.25006491,  1.42348456,
         3.51866318,  1.8793559 ,  1.95524468,  1.39852874,  1.46751646,
         1.38857628,  2.38009525,  2.38009525,  2.38009525,  2.89236176,
         1.42561661,  0.84912783,  3.24286303,  1.45930106,  2.38009525,
         2.38009525,  2.38009525,  2.38009525,  2.38009525,  4.32462813,
         8.17691956,  4.09005155,  3.80589583,  1.77177733,  0.71728574,
         0.65345251,  2.38009525,  2.38009525,  2.38009525,  3.53121931,
         3.49420517,  2.38009525,  2.38009525,  2.99630019,  2.74871191,
         2.80585478,  1.0202833 ,  0.6895105 ,  4.88289983,  6.82591768,
         2.18303057,  0.73309068,  2.52953394,  4.76700715,  6.31715091,
         3.45685034,  0.76311014,  0.88711252,  2.27580307,  1.12462754,
         2.38009525,  2.38009525,  2.38009525,  2.38009525,  3.62951689,
         2.99609914,  1.28490955,  4.05061857,  3.45969788,  1.62094427,
         2.03059852,  2.75463543,  1.18397087,  1.22722083,  1.28663113,
         1.01606227,  2.38009525,  2.38009525,  2.3765256 ,  2.37074348,
         2.38009525,  2.38009525,  2.38517258,  2.59926167,  1.804945  ,
         5.81067065,  5.3421816 ,  0.8495948 ,  2.38009525,  2.38009525,
         2.38009525,  2.91539129,  3.21901365,  1.76386714,  2.36532025,
         2.7063333 ,  2.95785112,  1.92041078,  1.05543764,  2.32871069,
         2.54074482,  2.33588315,  2.48830443,  2.38009525,  2.38009525,
         2.38009525,  2.38009525,  3.3923897 ,  2.64012501,  1.91754565,
         5.93635366,  6.86401602,  4.388927  ])]

In [36]:
X_test=df_test_normal.iloc[:,2].values
Xtest=hankel.fit(X_test,30,0.5)  #size -> 1800x274
Xtest=Xtest.T  #size -> 274x1800
print(Xtest.shape)

(273, 1800)